[submodule "roles/--force"]
	path = roles/--force
	url = https://github.com/DanielMueller1309/proxmox_create_vms
[submodule "roles/proxmox_create_vms"]
	path = roles/proxmox_create_vms
	url = https://github.com/DanielMueller1309/proxmox_create_vms
[submodule "roles/geerlingguy.pip"]
	path = roles/geerlingguy.pip
	url = https://github.com/geerlingguy/ansible-role-pip
[submodule "roles/geerlingguy.ansible"]
	path = roles/geerlingguy.ansible
	url = https://github.com/geerlingguy/ansible-role-ansible
[submodule "roles/robertdebock.bootstrap"]
	path = roles/robertdebock.bootstrap
	url = https://github.com/robertdebock/ansible-role-bootstrap
[submodule "roles/ryandaniels.create-users"]
	path = roles/ryandaniels.create-users
	url = https://github.com/ryandaniels/ansible-role-create-users
